<% @artifacts.each do |art| %>
  <div class="artifact">
  	<% if art.location == @city %>
    <a href="/artifacts/<%= art.id %>">
     <img class="img-artifact" style="width: 18rem; height: 15.5rem;" src="<%= art.pic_lg_url %>" alt="Card image cap"></a>
   </div>
   <%else%>
   <h1>Not hitting the conditional</h1>
<% end %>
<% end %>
