      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
 position: relative;
 top: 10%;
 left: 18%;
 height: 65%;
 width: 65%;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      /* Optional: Makes the sample page fill the window. */
html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
      }
/* Map Modal Styles*/
.row {
  position: absolute;;
  left: 5%;
}
.artifact{
  position: relative;
  margin-right: 1%;
  margin-bottom: 3%;
  margin-left: 1%;
}

.modal {
  color: #fff;
  position: absolute;
  left: 18%;
  top: 17%;
  background: #d6d7dc5e;
  height:350px;
  width: 790px;
}

.modal-header{
  background-color: #ffffffb8;
  color: #646773;
}

.modal-open {
  overflow: hidden;
}

/*.img-artifact{
  height: 60px;
  width: 40px;
}
*/
/* Individual Artifacts Page*/

.wrapper{
  display: grid;
  width:95%;
  grid-template-columns: 50% 50%;
  margin-left:2%;
  margin-top: 3%;
}


.wrapper > div{
  padding: 1em;
}

.card.artifact-info{
  height: 30rem;
  width: 90%;
}

.card{
  border: 1px solid rgba(255, 255, 255, 0);
}

.tile{
  position: static;
}
.left-info{

}
.right-info{
  margin-left: -3%;

}

.era-link{
  float:right;
}

/* Gallery */

.gallery{
  /*display: grid;
  grid-template-columns: 32% 32% 32%;*/
  position: relative;
  top: 5%;
  left: 14%;
  width: 85%;
}

.gallery-img {
  height: 14rem;
  width: 12rem;
  margin-right: 1%;
  margin-bottom: 1%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#gallery-row{
  margin-left: -9%;
  margin-top: 5%;
}
