<div class="container admin-home">
	<!-- welcome sign -->
	<div class="jumbotron">
  	<h1 class="display-4">Welcome Back!</h1>
  	<p class="lead">Please make a selection to add, delete or edit an artifact in the collection.</p>
  	<hr>
	  <p class="lead">
    	<a class="btn btn-primary btn-sm" href="/artifacts/new" role="button">Add New Items</a>
  	</p>
  	<p class="lead">
    	<a class="btn btn-primary btn-sm" href="#" role="button">Edit Collection</a>
  	</p>
	</div>
	<!-- Task Tiles -->
<!-- 	<div id="carouselExampleControls" class="carousel slide card" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" id="carousel-item">
    		<img src="<%= @rand.pic_lg_url %>" class="d-block w-100">
    </div>
   <% @artifacts.each do |a| %>
    	<div class="carousel-item" id="carousel-item">
    		<img src="<%= a.pic_lg_url %>" class="d-block w-100" data-interval="2000">
    	</div>
    	<% end %>
  </div> -->
<!--   <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
<!--     <div class="card-body">
    <a href="/artifacts/" class="card-link">Profile</a>
    <a href="/artifacts/" class="card-link">Edit</a>
  </div> -->
</div>
</div>




