<div class="home-background">
	<img  class="home-img" src="<%= @rand.pic_lg_url %>">
</div>

<div class="home-text animated fadeIn"><h1> Travel back in time and improve your museum experience.</h1><p><a class="enter-map" href="/artifacts">Enter and explore the ancient near east.</a></p></div>
